<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.pruebaandroid"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="11"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.example.pruebaandroid.MainActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.PruebaActivity"
            android:label="@string/title_activity_prueba" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.LoginActivity"
            android:label="@string/title_activity_login"
            android:theme="@android:style/Theme.Dialog" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.ProgressDialogActivity"
            android:label="@string/title_activity_progress_dialog" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.intents.SecondActivity"
            android:label="@string/title_activity_second" >
            <intent-filter>
                <action android:name="com.example.pruebaandroid.intents.SecondActivity" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.pruebaandroid.FragmentsActivity"
            android:label="@string/title_activity_fragments" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.WebBrowserActivity"
            android:label="@string/title_activity_web_browser" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.NotificationsActivity"
            android:label="@string/title_activity_notification" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.NotificationView"
            android:label="@string/title_activity_notifications" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.actionbar.ActionBarActivity"
            android:label="@string/title_activity_action_bar" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.uiNotifications.UINotificationsActivity"
            android:label="@string/title_activity_uinotifications" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.views.basic.BasicActivity"
            android:label="@string/title_activity_basic" >
        </activity>
        <activity
            android:name="com.example.pruebaandroid.views.basic.ProgressBarActivity"
            android:label="@string/title_activity_progress_bar" >

        </activity>
        <activity
            android:name="com.example.pruebaandroid.dataStored.UsandoPreferencesActivity"
            android:label="@string/title_activity_usando_preferences" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>